
body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;

}
*,
*:before,
*:after
{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}

hr{
	border:0;
	display: block;
	margin: 25px 0;
	width: 100%;
	background-color: #e5e5e5;
	height: 1px;
}

	.page{
		overflow: hidden;
	}

.container{
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/*Header*/
.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding-top: 30px;
}
.header.fixed{
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	background-color: #eb8b8d;
	position: fixed;
	left: 0;
	top: 0;
	padding: 10px 0;
	right: 0;
	z-index: 20000;
	transform: translate3d(0,0,0);
}
.header.active{
	background-color: #eb8b8d;
}
.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.header_logo{

	font-size: 30px;
	color: #fff;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus{
	outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: transform .2s linear ;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}







/*Intro*/

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	min-height: 820px;
	width: 100%;
	height: 100vh;
	background: url(../images/intro/intro.jpg) center no-repeat;
	background-size: cover;
}
.intro_inner{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro_suptitle{
	font-size: 75px;
	color: #000;
	line-height: 1;
	font-family: 'Kaushan Script', cursive;
	margin-bottom: 60px;

}


.intro_title{
	font-size: 150px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
}
.intro_title:after{
	content: "";
	width: 60px;
	height: 3px;
	display: block;
	margin: 60px  auto 0;
	background-color: #fff;
}

/*Btn*/
.btn{
	display: inline-block;
	vertical-align: top;
	border:3px solid #fff;
	margin-top: 50px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 6px 17px;
	transition: background .1s linear,color .1s linear;
}
.btn:hover{
	background-color: #fff;
	color: #333;

}
/*Slider*/
.slider{
position: absolute;
left: 0;
bottom: 0;
z-index: 1;
width: 100%;

}
 .slider_inner{
 	display: flex;
	justify-content: space-between;

 }

 .slider_item{
 	width: 24%;
 	font-size: 14px;
 	text-transform: uppercase;
 	position: relative;
 	color: #fff;
 	padding: 20px 0px;
 	border-top: 2px solid #fff;
 	opacity: 0.7;


 }
 .slider_item.activ{
 	opacity: 1;
 }
 .slider_item.activ:before{
 	content: "";
 	position: absolute;
 	width: 70px;
 	height: 3px;
 	display: block;
 	background-color: red;
 	top: -3px;
 	left: 0;


 }

 .slider_num{
 	font-size: 24px;
 	font-weight: 700;
 }


 /*section*/

 .section{
 	padding:80px 0;





 }
 .section--devices{
 	padding-bottom:0;
 	margin-bottom: 40px;
 	background: url(../images/fone_02.jpg) center no-repeat;
 	width: 100%;
 	background-size: cover;

 }
 .section--gray{
 	background: #f8f8f8;

 }

.section--back{
	background: url(../images/backg.jpg) center no-repeat;
	background-size: cover;
}

.section--map{
	background: url(../images/map.jpg) center no-repeat ;
	background-size: cover;
	padding:40px 0;
}
 .section_header{
 	width: 100%;
 	max-width: 950px;
 	margin: 0 auto 50px;
 	text-align: center;
 }
 .section_suptitle{
	 font-size: 24px;
	 font-family: 'Kaushan Script', cursive;
	 color: #333;
 }

 .section_title{
 	font-size: 30px;
 	color: #333;


 }


.section_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto 30px;
	background-color: red;

}

.section_text{
	font-size: 15px;
	color: #999;
}


/*About*/

.cart{
	margin: 80px -15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cart_item{
	width:33.333333%;
	padding: 0 15px;


	margin-bottom: 100px;
}
.cart_inner{
	background-color: #95e1d3;
	position: relative;
}


.cart_item:hover .cart_images{
	transform: translate3d(-10px,-10px,0);
}
.cart_item:hover .cart_images img{
	opacity:.1;
}
.cart_item:hover .cart_text{
	opacity: 1;
	}

.cart_images{
	background:linear-gradient(to bottom,#f38181,#fce38a);
	transition: transform .1s linear;
}


.cart_images img{
	display: block;
	max-width: 100%;
	height: auto;
	transition: opacity .1s linear;
}

.cart_text{
	width: 100%;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	opacity: 0;
	text-align: center;
	position: absolute;
	top:50%;
	left: 0;
	z-index: 4;
	transform: translate3d(0,-50%,0);
	transition: opacity .1s linear;
}

.cart_info{
	text-align: center;
	margin-top: 20px ;
}
.cart_name{
	text-transform: uppercase;
	font-size: 15px;
	color: #333333;
	margin-bottom: 5px;
}
.cart_prof{
	color: #999;
	font-size: 15px;
	font-weight: 300;
}


/*Statistics*/

.statistics{
	background-color: #95e1d3;

}

.stats{
	display: flex;
	flex-wrap: wrap;

}
.stats_iteam{
	flex: 1 1 0;
	border-left: 1px solid #b5eae0;
	padding: 70px 25px;
	text-align: center;
	color: #fff;

}
.stats_iteam:last-child{
		border-right: 1px solid #b5eae0;

}
.stats_count{
	font-size: 72px;
	line-height: 1;
	font-weight: 700;
}
.stats_text{
	font-size: 14px;
	text-transform: uppercase;
}


.services{
	display: flex;
	flex-wrap: wrap;
}
.services_item{
	width: 33.333%;
	padding-left: 70px;
	padding-right: 20px;
	padding: 0 20px 40px 70px;
	position: relative;
	margin-bottom: 40px;
}
.services--border{
	border-bottom: 1px solid #ccc;
}
.services_icon{
	position: absolute;
	top: 0;
	left: 25px;

}
.services_title{
	font-size: 14px;
	line-height: 1;
	color: #333;
	margin-bottom: 20px;

}
.services_text{
	font-size: 15px;
	color: #999;
}

.divices{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;


}
.divices_iteam{
	display: block;
	max-width: 100%;
	height: auto;
}
.divices_iteam--iphon{
	position: absolute;
	bottom: -80px;
	right: -100px;
	z-index: 2;

}
/*Whodo*/
.whodo{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px; 
}
.whodo_item{
	width: 50%;
	padding: 0 15px;

}
.whodo_img{
	display: block;
	max-width: 100%;
	height: auto;

}
.accordion__item {
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
	display: block;
}

.accordion__item.active .accordion__header {
	border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header:after {
	transform: translateY(-50%) rotate(-45deg);
	margin-top: 5px;
}

.accordion__header {
	padding: 15px 20px 15px 65px;
	position: relative;

	border-bottom: 1px solid transparent;
	cursor: pointer;
}

.accordion__header:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;

	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;

	transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;

	transform: translateY(-50%);
}

.accordion__content {
	padding: 15px 20px;
	display: none;

	font-size: 15px;
	color: #999;
	font-style: italic;
	font-weight: 300;
}

.accordion__title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

/*REVIEWS*/
.reviews {
	position: relative;
}

.reviews .slick-slider {
	padding: 0 110px;
}

.reviews__item {
	min-height: 210px;
	padding-left: 255px;
	position: relative;
}

.reviews__photo {
	display: block;
	width: 210px;
	height: 210px;

	border: 2px solid #95e1d3;
	border-radius: 50%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reviews__text {
	margin-bottom: 15px;

	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	color: #999;
}

.reviews__author {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
}

.reviews__author:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;
	margin-right: 10px;

	background-color: #f38181;
}

.slick-arrow {
	display: block;
	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
}

.slick-arrow:focus {
	outline: 0;
}

.slick-arrow:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
}

.slick-prev {
	left: 0;
	transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
	right: 0;
	transform: rotate(135deg);
}


/*Solcia*/
.social{
	display: flex;
	justify-content: center;
}
.social_item{
	padding: 12px 10px;
	width: 55px;
	height: 55px;
	font-size: 30px;
	text-decoration: none;
	background-color: #fce38a;
	color: #f38181;
	border-right:1px solid #f38181;
	line-height: 1;
	transition: background .1s linear,color .1s linear;

}
.social_item:last-child{
	border: none;

}
.social_item:hover{
	background-color: #f38181;

	color: #fff;
}


/*LOGO*/
.logos{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 -15px;

}

.logo_item{
	padding: 0 15px;
}

.logo_img{
	display: block;
	max-width: 100%;
	height: auto;


}
/*WOrk*/

.work{
	display: flex;
}

.work_col{
	flex: 1 1 0;

}

.work_item{
	position: relative;
    background:linear-gradient(to bottom,#f38181,#fce38a);
}
.work_img{
	display: block;
	max-width: 100%;
	height: auto;

	transition: opacity .1s linear;

}
.work_item:hover .work_img{
	opacity: .1;

}
.work_item:hover .work_info{
	opacity: 1
}

.work_info{
	width: 100%;
	padding-top: 0 15px;
	position: absolute;
	top: 50%;
	left: 0;
	opacity: 0;
	z-index: 1;

	transform: translate3d(0,-50%,0);
	color: #fff;
	text-align: center;
	transition: opacity .2s linear;

}
.work_title{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 5px;

}

.work_text{
	font-size: 14px;
	font-family: italic;
}

/*Clients*/

.clients{
	display: flex;
	flex-wrap: wrap;
	margin-top:70px;
}
.clients_item{
	width:50%;
	padding: 0 45px 0 155px;
	position: relative;
	margin-bottom: 65px;
}
.client_photo{
	position: absolute;
	top: 0px;
	left: 25px;
	z-index: 1;
}

.client_name{
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1;
	color: #333;
	margin-bottom: 15px;

}

.client_prof{
	font-size: 15px;
	font-family: italic;
	color: #717171;

}

.client_prof:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 15px 0 25px 0;
	background-color: red;
}

.client_text{
	font-size: 14px;
	color: #b0b0b0;
	line-height: 1.2;
}
/*Blog*/

.blog{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog_item{
	width: 31%;
}
.blog_header{
	position: relative;
	margin-bottom: 15px;
}
.blog_photo{
	 display: block;
    max-width: 100%;
    height: auto;

}

.blog_date{
	position: absolute;
	bottom:10px;
	left: -10px;
	z-index: 1;
	background-color: #95e1d3;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	padding: 10px 15px;
}
.blog_day{
	font-size: 30px;
	line-height: 1;
	font-weight: 700;
}

.bloge_content{
	margin-bottom: 15px;
}

.blog_title{
	color:#666666;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 10px;

}

.blog_title a {
	text-decoration: none;
	color: inherit;

}
.blog_title a:hover{
	text-decoration: underline;
}
.blog_text{
	font-size: 15px;
	color: #ccc;
}

.blog_footer{
	padding-top: 15px;
	border-top: 1px solid #999;
	font-size: 14px;
	font-family: italic;
}

.blog-stat_item{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.bolog-stat_item i{
	background-color:#95e1d3;
}

/*MAP*/
.map{
	text-align: center;
}
.map_title{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700px;
	color: #f38181;
}
.map_title i{
	margin-bottom: 10px;

}
.map_title a{
	text-decoration: none;
	color: inherit;
	transition: text .1s linear;

}
.map_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 15px auto 0px;
	background-color: #f38181;
}

.map_title a:hover{
	text-decoration: underline;
}



/*Footer*/

.footer{
	padding-top: 65px;
    background-color: #f8f8f8;
}
.footer_inner{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 65px;
}
.footer_colums{
	padding-bottom: 40px;
	margin-right: 10px;
}
.footer_colums-first{
	width: 40%;
}
.footer_colums-second{
	width: 29%;
}
.footer__colums--third {
    width: 22%;
}
.footer_title{
	display: block;
	line-height: 1.2;
	padding-top: 20px;
	font-size: 15px;
	color: black;
	margin: 30px 0;
	font-family: 700;
	text-transform: uppercase;
}
.footer_logo{
	font-size: 46px;
	color: #cccccc;
	margin-bottom: 45px;
	font-weight: 700;
}
.footer_text{
	font-size: 15px;
	color: #c9c9c9;
	margin-bottom: 50px;
}
.footer_social-header{
	padding-bottom: 15px;
	color: #ccc;
	border-bottom: 1px solid #ccc;

}
.footer_social-header b{
	font-size: 18px;

}

.footer_social-content{
	padding-top: 15px;
	color: #ccc;
	font-size: 15px;
	font-weight: 300;
	font-family: italic;
	margin-bottom: 15px;
}

.footer_social-content a{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	color: #95e1d3;
	font-size: 18px;
}

.blogs{
	padding-left:5px;
}

.blogs_item{
	display: flex;
align-items: center;
	margin-bottom: 30px;

}
.blogs_img{
	width: 120px;
	height: 80px;

}
.blogs_content{
	padding-left: 20px;
}
.blogs_title{
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;


}
.blogs_title:hover{
	text-decoration: underline;
}
.blogs_date{
	font-size: 13px;
	color: #999;
	font-style: italic;
	font-weight: 300;
}
/*INSTAGRAM*/

/* Instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*FORM*/

.subscribe{
	width: 100%;
	max-width: 380px;
	display: flex;
}

.subscribe_input{
	width: 60%;
	line-height: 1.1;
	height: 40px;
	padding: 12px;
	background-color: #fff;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #e7e7e7;
	border-right: 0px;
	font-weight: 300;
	color: black;
}
.subscribe_input::placeholder{
	color: #ccc;

}
.subscribe_input:focus{
	outline:0;

	border-color:#6faa9f; 
}
.subscribe_btn{
	width: 40%;
	height: 40px;
	border: 0;
	cursor: pointer;
	background-color: #95e1d3;
	color:#fff;
	padding: 12px 20px;
	line-height: 1.1
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;

}
.subscribe_btn:hover{
	background-color: #6faa9f;

}
.subscribe_btn:focus{
	outline:0;
}
.copyright {
    padding: 20px 0;

    border-top: 1px solid #e5e5e5;

    font-size: 14px;
    color: #333;
    text-align: center;
}

.copyright span {
    color: #f38181;
}

/*MEDIA*/

@media (max-width: 1230px){
	/*Intro*/
	.intro_suptitle{
		font-size: 52px;
	}
	.intro_title{
		font-size: 120px;
	}

	/*reviews*/
	.reviews_text{
		font-size: 13px;
	}

}
@media (max-width: 990px){
	/*Intro*/
	.intro_suptitle{
		font-size: 32px;
	}
	.intro_title{
		font-size: 80px;
	}
	/*Stats*/
	.stats{
		justify-content: center;
	}
	.stats_iteam{
		flex: none;
		border:0;
		width: 33.333%;
		padding: 30px 0;
	}
	.stats_iteam:last-child{
		border:0;
	}
	.services_item{
		width: 50%;
		padding-bottom: 0;
	}	
	.services--border{
		border:0;
	}
	/*reviews*/

	.reviews .slick-slider {
		padding: 0 60px;
  }
	.reviews__item{

	padding-left: 175px;

}
	.reviews_photo{
		width: 150px;
		height: 150px
	}
	.reviews_autor{
		font-size: 20px;
	}
	/*clients*/
	.clients{
		max-width: 600px;
		margin: 0 auto;
	}
	.clients_item{
		width: 100%;
				padding-right: 0;
	}
	.clients_item:last-child{
		margin-bottom: 0;
	}
	.footer_colums-first {
		width: 100%
	}
	.footer_colums-second,.footer__colums--third{
		width: 50%;
	}
	/*instagram*/
	.instagram{
		justify-content: flex-start;
	}
	.instagram__item{
		width: auto;
	}

}
@media (max-width: 770px){
	.header{
		padding: 10px 0;
	}
	.intro{
		min-height: 650px;
	}

	/*Nav*/
	.nav {
        display: none;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;

        background-color: #eb8b8d;
    }
    .nav.active{
    	display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }


	/*card*/

	.cart{
		margin-top: 50px;
		justify-content: center;
	}
	.cart_item{
		width: 100%;
		max-width: 410px;
		margin-bottom: 20px;
	}
	.cart_item:last-child{
		margin-bottom: 0px;

	}
	/*Section*/

	.section{
		padding:40px 0;
	}

	.section--devices{
		padding-bottom: 0;
	}


	/*Slider*/
	.slider_text{
		display: none;
	}
	.slider_item.activ:before{
		width: 50%;
	}

	.services{
		justify-content: center;
	}

		.services_item{
			padding-right: 0;
		width: 100%;
	}
	/*wedo*/
	.whodo{
		justify-content: center;
	}

	.whodo_img{
		display: none;
	}
	.whodo_item{
		width: 100%;
	}
	/*reviews*/
	.reviews__photo{
		position: static;
		margin: 0 auto;
	

	}
	.reviews__item{
		padding-left: 0;

	}
		.reviews__autor{
		font-size: 18px;
	}
	/*Works*/
	.work{
		flex-wrap: wrap;
	}
	.work_col{
		flex: none;
		width: 50%;

	}
	/*blog*/
	.blog{
		max-width: 380px;
		margin: 0 auto;
	}
	.blog_item{
	width: 100%;
	margin-bottom: 20px;
}
.footer_colums-first {
		width: 100%
	}
	.footer_colums-second,.footer__colums--third{
		width: 100%;
	}

}


@media (max-width: 575px){
	
	.intro{
		min-height: 650px;
	}

	/*Section*/
	.section_header{
		margin-bottom: 50px;
	}
	
	.section_suptitle{
		font-size: 20px;
	}
	.section_title{
		font-size: 24px;
	}
	.section_title:after{
		margin: 20px auto;
	}
	/*Stats*/
	.stats_iteam{
		width: 100%;
		border-bottom: 1px solid red;
	}
	.stats_count{
		font-size: 52px;

	}
	/*devices*/
	.devices{
		max-width: 320px;
	}
	.divices_iteam--iphon{
	position: absolute;
	max-width: 120px;
	bottom: -20px;
	right: -15px;
	z-index: 2;
	}
	/* Reviews */
	.reviews .slick-slider {
		padding: 0;
  }

  .slick-arrow {
		top: 18%;
  }





	/*Logos*/
	.logos{
		flex-wrap: wrap;
		justify-content: center;
	}
	.logos_item{
		width: 50%;
		margin-bottom: 20px;


	}
	.logo_img{
		margin: 0 auto;

	}
		.work_col{

		width: 100%;

	}
	/*clients*/
	.client_photo{
		position: static;
	}
	.clients_item{
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.client_prof:after{
		margin: 15px auto;
	}
	/*Blogs*/
	.blogs_img{
		width: 80px;
		height: 50px;
	}
	..blogs_title{
		font-size: 10px;
	}

	/*subscribe*/
	.subscribe{
		flex-wrap: wrap;
		max-width: none;
	}
	.subscribe_input{
		border-right: 1px solid red;
		margin-bottom: 5px;
	}

	.subscribe_input,.subscribe_btn{
		width: 100%;
	}

}















